name: Docker Release

on:
  release:
    types: [published]

permissions:
  packages: write
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      -
        name: Login to GHCR
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6.18.0
        with:
          build-args: |
            tag=${{ github.event.release.tag_name }}
            sha=${{ github.sha }}
          push: true
          tags: |
            ghcr.io/happn-app/terraform-cloud-exporter:${{ github.event.release.tag_name }}
            ghcr.io/happn-app/terraform-cloud-exporter:latest
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
